body{
  font-family: 'Comfortaa', cursive;
  background-color: rgb(40, 41, 35);
}

#main{
	background-color: rgb(66, 67, 62);
	margin-top: 100px;
	margin-left: 100px;
	margin-bottom: 100px;
	margin-right: 100px;
	height: 554px;
	width: 1230px;
}

#canvas{
	background-color: white;
	height: 450px;
	width: 450px;
	border-top: 10px solid rgb(108, 109, 105);
	border-left: 10px solid rgb(108, 109, 105);
	border-right: 10px solid rgb(90, 90, 90);
	border-bottom: 10px solid rgb(90, 90, 90);
	margin-left: 20px;
	margin-top: 20px;
  	position: absolute;
  	z-index: 2;
}

#palette{
	border-top: 10px solid rgb(108, 109, 105);
	border-left: 10px solid rgb(108, 109, 105);
	border-right: 10px solid rgb(90, 90, 90);
	border-bottom: 10px solid rgb(90, 90, 90);
	height: 300px;
	width: 300px;
	position: absolute;
	z-index: 2;
	margin-top: 60px;
	margin-left: 515px;
}

.pieces{
	border: 1px solid rgb(108, 109, 105);
	width: 48px;
	height: 48px;
	display: block;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
	cursor: pointer;
}

.colorBlock{
	width: 50px;
	height: 50px;
	display: block;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
	cursor: pointer;
}
.emptyColor{
	border: 1px solid rgb(108, 109, 105);
	width: 48px;
	height: 48px;
	background-color: rgb(66, 67, 62);
}
#colorPick{
	margin-top: 400px;
	margin-left: 695px;
	position: absolute;
	z-index: 2;
	width: 48px;
	height: 48px;
	border: 1px solid rgb(108, 109, 105);
	border-radius: 50%;
	cursor: pointer;
}
#colorPickbg{
	background-color: white;
	margin-top: 398px;
	margin-left: 693px;
	position: absolute;
	z-index: 2;
	width: 54px;
	height: 54px;
	border-radius: 50%;
}

#color_r0g0b0{
	background-color: rgb(0, 0, 0);
}
#color_r255g0b0{
	background-color: rgb(255, 0, 0);
}
#color_r0g255b0{
	background-color: rgb(0, 255, 0);
}
#color_r0g0b255{
	background-color: rgb(0, 0, 255);
}
#color_r255g255b0{
	background-color: rgb(255, 255, 0);
}
#color_r0g255b255{
	background-color: rgb(0, 255, 255);
}
#color_r255g0b255{
	background-color: rgb(255, 0, 255);
}
#color_r255g255b255{
	background-color: rgb(255, 255, 255);
}
#color_rgbpink{
	background-color: pink;
}
#color_rgbgrey{
	background-color: grey;
}
#color_rgbbrown{
	background-color: brown;
}
#color_rgborange{
	background-color: orange;
}

#textIntensity{
	margin-top: 392px;
  	position: absolute;
  	z-index: 3;
  	color: white;
}
#slider{
	margin-top: 420px;
}
#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

#broom{
  color: white;
  position: absolute;
  font-size: 25px;
  margin-left: 244px;
  margin-top: 510px;
  z-index: 3;
  cursor: pointer;
  transition: 0.5s;
}

#eraser{
	color: white;
	font-size: 35px;
	margin-left: 620px;
  margin-top: 406px;
  cursor: pointer;
}

#addNew{

	color: white;
	font-size: 40px;
  cursor: pointer;
  margin-left: 340px;
  margin-top: 300px;
  position: absolute;
  z-index: 3;

}

#emptyDiv{
	display: inline-block;
	float: left;
	width: 0px;
	height: 0px;
}
#textMix{
	position: absolute;
	z-index: 5;
	color: white;
	margin-left: 860px;
	margin-top: 160px;
}

.rgbSliders{
    width: 300px;
	margin-left: 860px;
}
#red{
	margin-top: 200px;
}
#green{
	margin-top: 20px;	
}
#blue{
	margin-top: 20px;
}

  #red .ui-slider-range { background: #ef2929; }
  #red .ui-slider-handle { border-color: #ef2929; }
  #green .ui-slider-range { background: #8ae234; }
  #green .ui-slider-handle { border-color: #8ae234; }
  #blue .ui-slider-range { background: #729fcf; }
  #blue .ui-slider-handle { border-color: #729fcf; }